# NVIDIA AI API Key (https://build.nvidia.com)
NVIDIA_API_KEY=
NEXT_PUBLIC_NVIDIA_API_KEY=

# Google Business Profile OAuth (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Local Testing Database (Default for dev)
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=google_flag_reviews

# Production Database (MongoDB Atlas)
# MONGODB_URI=mongodb+srv://<username>:<password>@links.eogs69q.mongodb.net/?appName=Links
# MONGODB_DB=Links
